@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styling */
html{
    scrollbar-width: thin;
    scrollbar-color: #CD2132 transparent;
}
::-webkit-scrollbar{
    width: .5vw;
    height: 10vw;
}
::-webkit-scrollbar-thumb{
    background: #CD2132;
}

*{
    font-family: 'Poppins', sans-serif;
}

.curvy-edges{
    border-radius: 41% 65% 68% 83% / 67% 82% 57% 68%;
}